.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.card img {
  height: 15rem;
  width: 15rem;

}
.card {
  margin:1rem; 
  padding: 1rem;
  border-radius: 6px;
  background-color: bisque;
}
.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}